<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logomoeda.ico" type="image/x-icon" sizes="16x16" />
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js" defer></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>CriptoON</title>
</head>
<body>
    <button onclick="window.location.href='#'" id="back-to-top"><i class="fa-solid fa-arrow-up"></i></button>
    <div id="sidebar-aberta-container" class="fechada">
        <i id="btn-close-sidebar" class="fa-solid fa-xmark"></i>
        <a href="#criptomoeda-section">Criptomoeda</a>
        <a href="#origem-section">Origem</a>
        <a href="#aplicacao-section">Aplicação</a>
        <a href="./cadastro.html"><button id="btn-newslerner-sidebar">Atualize-se</button></a>
    </div>
    <header id="header-container">
        <div>
            <img src="../static/img/logo.png" alt="">
            <h1 id="title-header">CriptoON</h1>
        </div>
        <div id="navbar">
            <h3>Menu</h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 15 11" fill="none">
                <path d="M1.85027 10.1018L7.50132 4.02861L13.0853 10.0186L14.9466 8.01821L7.52342 0.055329L0.0110606 8.12888L1.85027 10.1018Z" fill="#DAA520"/>
            </svg>
        </div>
        <a href="./cadastro.html"><button id="btn-newslerner">Atualize-se</button></a>
        <ion-icon class="btn-navbar-mobile" name="menu-outline"></ion-icon>
        <div id="navbar-aberta" class="fechada">
            <a class="links" href="#criptomoeda-section"><li id="navbutton1">Criptomoeda</li></a>
            <a class="links" href="#origem-section"><li id="navbutton2">Origem</li></a>
            <a class="links" href="#aplicacao-section"><li id="navbutton3">Aplicação</li></a>
        </div>
    </header>
    <main>
        <section id="home">
            <div id="title-container">
                <div id="line-title"></div>
                <h1 id="title-home">O outro lado da<br><span>CRIPTOMOEDA</span></h1>
            </div>
            <a href="#criptomoeda-section"><ion-icon class="arrow-down" name="chevron-down-outline"></ion-icon></a>
        </section>
        <section id="criptomoeda-section">
            <img id="divisor-home" src="../static/img/divisor-home.png" alt="">
            <div class="section reveal" id="uq">
                <img src="../static/img/o-que-é.png" alt="">
                <div class="conteudo">
                    <div>
                        <h2 class="subtitle titleright">O que é<br>Criptomoeda?</h2>
                        <div class="line-titles-black"></div>
                    </div>
                    <p class="paragraph paragraph-dark">Criptomoedas são moedas digitais que utilizam criptografia de ponta no estilo blockchain para garantir o anonimato das transações e protegê-las de possíveis ataques hackers.</p>
                </div>
            </div>
            <div class="section reveal" id="tipos">
                <div>
                    <div class="subtitle-container">
                        <div class="line-titles-black"></div>
                        <h2 class="subtitle titleleft">TIPOS DE<br>CRIPTOMOEDAS</h2>
                    </div>
                    <p class="paragraph paragraph-dark">Atualmente existem milhares de tipos de criptomoedas em circulação no mercado, cada uma com um diferencial e um propósito distinto. Abaixo estão algumas das principais criptomoedas, juntamente com informações sobre seu volume no mercado, sua taxa de mudança diária e sua capitalização.</p>
                </div>
                <div id="tipos-display">
                    <div class="carroussel" id="carroussel-tipos">
                        <div id="icons">
                            <div class="cripto-tipo">
                                <img id="imgAPI"  src="../static/img/bitcoin-icon.svg" alt="">
                                <h6 id="nameMoeda">BITCOIN</h6>
                            </div>
                        </div>
                        <div id="line-carroussel">
                            <svg id="backBtn" class="line-icon-tipos" xmlns="http://www.w3.org/2000/svg" width="37" height="24" viewBox="0 0 37 24" fill="none">
                                <path d="M0.93934 10.9393C0.353553 11.5251 0.353553 12.4749 0.93934 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97918 12.6066 1.3934C12.0208 0.807612 11.0711 0.807612 10.4853 1.3934L0.93934 10.9393ZM37 10.5L2 10.5V13.5L37 13.5V10.5Z" fill="white"/>
                            </svg>
                            <div id="indicators">
                                <div class="indicatorsAPI checked"></div>
                                <div class="indicatorsAPI"></div>
                                <div class="indicatorsAPI"></div>
                                <div class="indicatorsAPI"></div>
                            </div>
                            <svg id="nextBtn" class="line-icon-tipos" xmlns="http://www.w3.org/2000/svg" width="37" height="24" viewBox="0 0 37 24" fill="none">
                                <path d="M36.0607 13.0607C36.6464 12.4749 36.6464 11.5251 36.0607 10.9393L26.5147 1.3934C25.9289 0.807611 24.9792 0.807611 24.3934 1.3934C23.8076 1.97919 23.8076 2.92893 24.3934 3.51472L32.8787 12L24.3934 20.4853C23.8076 21.0711 23.8076 22.0208 24.3934 22.6066C24.9792 23.1924 25.9289 23.1924 26.5147 22.6066L36.0607 13.0607ZM0 13.5L35 13.5V10.5L0 10.5L0 13.5Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    <div id="info-tipos">
                        <li>MUDANÇA (24h)<span id="mudanca-value">-2,43%</span></li>
                        <li>CAP. DE MERCADO<span id="capitalizacao-value">$433B</span></li>
                        <li>VOLUME<span id="volume-value">$70B</span></li>
                    </div>
                </div>
            </div>
            <div class="reveal" id="conversor">
                <h1 class="subtitle?">CONVERTA SUAS CRIPTOMEDAS</h1>
                <div id="board">
                    <div id="inputs">
                        <div>
                            <label for="">Criptomoeda</label>
                            <div id="cripto-amount">
                                <select name="" id="coin">
                                    <option value="bitcoin">Bitcoin</option>
                                    <option value="ethereum">Ethereum</option>
                                    <option value="litecoin">Litecoin</option>
                                    <option value="tether">Tether</option>
                                </select>
                                <input value="1" type="number" name="" id="amount">
                            </div>
                        </div>
                        <div>
                            <label for="">Moeda Real</label>
                            <select name="" id="currency">
                                <option value="brl">BRL</option>
                                <option value="usd">USD</option>
                                <option value="eur">EUR</option>
                            </select>
                        </div>
                    </div>
                    <button id="convert" onclick="converter()">CONVERTER</button>
                    <p id="resultado"></p>
                </div>
            </div>
            <div class="reveal section" id="caracteristicas">
                <div>
                    <div class="subtitle-container">
                        <div class="line-titles-black"></div>
                        <h2 class="subtitle titleright">CARACTERÍSTICAS<br><span>VANTAGENS E DESVANTAGENS</span></h2>
                    </div>
                    <p class="paragraph paragraph-dark">Há vantagens e desvantagens no uso das criptomoedas, contudo, para cada fim específico, as características das criptomoedas podem ser consideradas “vantagens” ou “desvantagens”. Por exemplo, para um investigador de crimes online que está a procura de dados sobre determinado caso, a característica anônima das criptomoedas é uma desvantagem. Tendo isso em vista, abaixo estão as principais características das criptomoedas.</p>
                </div>
                <div id="cards">
                    <div id="background-cards"><img src="../static/img/cards.png" alt=""></div>
                    <div class="card">
                        <h5>BLOCKCHAIN</h5>
                        <p>O blockchain é um mecanismo de banco de dados que permite o compartilhamento de informações de forma segura.</p>
                    </div>
                    <div class="card">
                        <h5>AGILIDADE</h5>
                        <p>Transações com criptomoedas são mais ágeis que as realizadas em bancos devido a utilização da internet como meio.</p>
                    </div>
                    <div class="card">
                        <h5>BAIXO CUSTO</h5>
                        <p>Este ativo tem  baixo custo para fazer transferências de dinheiro, sendo que seriam impostas taxas por um suposto intermediário.</p>
                    </div>
                    <div class="card">
                        <h5>PRATICIDADE</h5>
                        <p>É muito mais prático criar uma carteira BTC do que uma conta no banco, já que envolve menos burocracia durante o processo.</p>
                    </div>
                </div>
            </div>
        </section>
        <div id="shadow"></div>
        <section id="origem-section">
            <div id="valorizacao" class="reveal section">
                <div>
                    <div class="subtitle-container">
                        <div class="line-titles-white"></div>
                        <h2 class="subtitle titleleft">VALORIZAÇÃO</h2>
                    </div>
                    <div id="ref-origem">
                        <img src="../static/img/aspas-left.png" alt="">
                        <p class="paragraph">A moeda sofreu constantes transformações ao longo do tempo, mas suas funções básicas como intermediária de troca, unidade de conta e reserva de valor, não se alteram. Portanto, quaisquer "objeto" que tem essas características poderia ser utilizado como moeda.</p>
                        <span>_______ (Lopes, 2005)</span>
                        <img id="aspas-right" src="../static/img/aspas-right.png" alt="">
                    </div>
                </div>
            </div>
            <div class="section reveal" id="moedas-historia">
                <div class="carroussel" id="carroussel-moedas">
                    <div id="icons-moedas">
                        <img id="moedas-img" src="../static/img/moeda-metalica.png" alt="">
                    </div>
                    <div id="line-carroussel">
                        <svg id="backBtn2" class="line-icon-moedas" xmlns="http://www.w3.org/2000/svg" width="37" height="24" viewBox="0 0 37 24" fill="none">
                            <path d="M0.93934 10.9393C0.353553 11.5251 0.353553 12.4749 0.93934 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97918 12.6066 1.3934C12.0208 0.807612 11.0711 0.807612 10.4853 1.3934L0.93934 10.9393ZM37 10.5L2 10.5V13.5L37 13.5V10.5Z" fill="gray"/>
                        </svg>
                        <div id="indicators">
                            <div class="indicator checked"></div>
                            <div class="indicator"></div>
                            <div class="indicator"></div>
                            <div class="indicator"></div>
                        </div>
                        <svg id="nextBtn2" class="line-icon-moedas" xmlns="http://www.w3.org/2000/svg" width="37" height="24" viewBox="0 0 37 24" fill="none">
                            <path d="M36.0607 13.0607C36.6464 12.4749 36.6464 11.5251 36.0607 10.9393L26.5147 1.3934C25.9289 0.807611 24.9792 0.807611 24.3934 1.3934C23.8076 1.97919 23.8076 2.92893 24.3934 3.51472L32.8787 12L24.3934 20.4853C23.8076 21.0711 23.8076 22.0208 24.3934 22.6066C24.9792 23.1924 25.9289 23.1924 26.5147 22.6066L36.0607 13.0607ZM0 13.5L35 13.5V10.5L0 10.5L0 13.5Z" fill="gray"/>
                        </svg>
                    </div>
                </div>
                <div id="info-moedas">
                    <h3 id="title-moedas">MOEDAS METÁLICAS</h2>
                    <p id="text-moedas" class="paragraph">Inicialmente as moedas metálicas surgiram como um instrumento de troca favorável devido seu material resistente, o qual podia ser estocado sem deteriorar. Esses materiais variavam entre ferro, cobre, bronze, ouro e prata. Contudo, foi identificado um problema com a circulação dessas moedas por conta da necessidade de transportar grandes quantias da mesma. Tendo em vista as dificuldades e riscos de transporte, foram criadas instituições responsáveis por armazenar essas moedas, cujas forneciam um certificado que atuava como comprovante da quantia reservada.</p>
                </div>
            </div>
            <div class="section reveal" id="mineracao">
                <div class="subtitle-container">
                    <div class="line-titles-white"></div>
                    <h2 class="subtitle titleright">MINERAÇÃO</h2>
                </div>
                <div id="info-mineracao">
                    <img src="../static/img/mineracao.png" alt="">
                    <p class="paragraph">A mineração de criptomoedas é um processo que coloca as moedas digitais em circulação. ela compreende desde o registro, validação até a inserção da mesma no blockchain, etapas inclusas em um processo extenso.</p>
                </div>
            </div>
            <div class="section reveal" id="video-section">
                <h2>VOCÊ SABE COMO AS CRIPTOMOEDAS SÃO<br><span>MINERADAS</span>?</h2>
                <iframe width="100%" height="650" src="https://www.youtube.com/embed/neK8MtkySKU" title="MINERAR BITCOIN? Entenda como funciona" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="section reveal" id="blockchain-section">
                <div class="subtitle-container">
                    <div class="line-titles-white"></div>
                    <h2 class="subtitle titleleft">BLOCKCHAIN</h2>
                </div>
                <p class="paragraph">A blockchain é uma tecnologia relativamente recente que está sendo adotada de forma inovadora por vários setores, dentre eles, a bolsa de valores, as impresas de energia e o varejo.</p>
                <div id="itens-blockchain">
                    <div class="item-bc">
                        <div>
                            <img src="../static/img/dollar.png" alt="">
                        </div>
                        <div>
                            <h3>BOLSA DE VALORES</h3>
                            <p>Usam os serviços de blockchain para gerenciar pagamentos, contas e o mercado comercial online.</p>
                        </div>
                    </div>
                    <div class="item-bc">
                        <div>
                            <img src="../static/img/idea.png" alt="">
                        </div>
                        <div>
                            <h3>EMPRESAS DE ENERGIA</h3>
                            <p>Criam plataformas de comercialização de energia entre pares e facilitam o acesso a energias renováveis.</p>
                        </div>
                    </div>
                    <div class="item-bc">
                        <div>
                            <img src="../static/img/varejo.png" alt="">
                        </div>
                        <div>
                            <h3>VAREJO</h3>
                            <p>Usam a blockchain para monitorar a movimentação de mercadorias entre fornecedores e compradores.</p>
                        </div>
                    </div>
                </div>
                <div class="reveal" id="recursos">
                    <h3 class="subtitle">RECURSOS</h3>
                    <p>A escolha por essa tecnologia se dá devido aos recursos que a mesma fornece. Estes recursos estão listados a seguir:</p>
                    <div id="recursos-cards">
                        <div class="recurso-card">
                            <div><img src="../static/img/imutabilidade.png" alt=""></div>
                            <h3>IMUTABILIDADE</h3>
                            <p>As transações são fixas, depois que registradas no livro-razão não podem ser alteradas senão com a adição de outra transação.</p>
                        </div>
                        <div class="recurso-card">
                            <div><img src="../static/img/descentralizacao.png" alt=""></div>
                            <h3>descentralização</h3>
                            <p>A descentralização se deve ao fato de que as transações nesse sistema não possuem um intermediário.</p>
                        </div>
                        <div class="recurso-card">
                            <div><img src="../static/img/consenso.png" alt=""></div>
                            <h3>CONSENSO</h3>
                            <p>O registro das transações, no livro-razão, só poderá ser feito quando a maioria dos participantes da rede der seu consentimento.</p>
                        </div>
                        <div class="recurso-card livro">
                            <h3>LIVRO - RAZÃO</h3>
                            <img src="../static/img/livro-razao.png" alt="">
                            <p>Registra todas as transações, sendo que todos os participantes da rede têm acesso a ele e ao registro imutável das transações.</p>
                        </div>
                    </div>
                </div>
                <div class="reveal" id="como-funciona">
                    <h3 class="subtitle">COMO FUNCIONA</h3>
                    <div id="itens-cf">
                        <div class="item-cf">
                            <h3>1º</h3>
                            <p>Cada transação é registrada como um “bloco” de dados.</p>
                            <img src="../static/img/cube.png" alt="">
                        </div>
                        <div class="item-cf">
                            <h3>2º</h3>
                            <p>Cada bloco é conectado a um bloco anterior e a outro posterior</p>
                            <img src="../static/img/cubes.png" alt="">
                        </div>
                        <div class="item-cf">
                            <h3>3º</h3>
                            <p>As transações são incluídas, numa cadeia irreversível: uma blockchain</p>
                            <img src="../static/img/checks.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="shadow-down"></div>
        <section id="aplicacao-section">
            <div class="section reveal" id="regulamentacao">
                <div class="subtitle-container">
                    <div class="line-titles-black"></div>
                    <h2 class="subtitle titleright">REGULAMENTAÇÃO</h2>
                </div>
                <div id="info-reg">
                    <img src="../static/img/world.gif" alt="">
                    <div>
                        <h3>LEGALIDADE GLOBAL</h3>
                        <p class="paragraph paragraph-dark">A regulamentação das criptomoedas tem sido um tópico de debate em todo o mundo. Alguns países adotaram uma abordagem positiva, enquanto outros expressaram preocupações sobre os riscos associados às criptomoedas, como lavagem de dinheiro, evasão fiscal e volatilidade de preços. Legalizar a criptomoeda mundialmente pode trazer trazer benefícios, no entanto, os governos também estão preocupados com os riscos mencionados anteriormente e buscam encontrar um equilíbrio entre promover a inovação e proteger os investidores e a integridade do sistema financeiro.</p>
                    </div>
                </div>
            </div>
            <div id="line-reg">
                <div id="paises">
                    <h3 class="numbers" >120</h3>
                    <h6>PAÍSES</h6>
                </div>
                <div id="regioes">
                    <h3 class="numbers" >57</h3>
                    <h6>REGIÕES</h6>
                </div>
                <div id="estados">
                    <h3 class="numbers"  >2453</h3>
                    <h6>ESTADOS</h6>
                </div>
            </div>
            <div class="reveal section" id="paises-reg">
                <div id="first-paises">
                    <p class="paragraph paragraph-dark">Apesar de a criptomoeda ainda não ser regulamentada oficialmente no mundo, alguns países foram em busca da regulamentação  dela, criando legislações para a mesma, são eles:</p>
                    <div id="flags">
                        <img class="flag" src="../static/img/japao-flag.png" alt="">
                        <img class="flag" src="../static/img/eua-flag.png" alt="">
                        <img class="flag" src="../static/img/suiça-flag.png" alt="">
                        <img class="flag" src="../static/img/canada-flag.png" alt="">
                        <img class="flag" src="../static/img/cingapura-flag.png" alt="">
                        <img class="flag" src="../static/img/sulcoreia-flag.png" alt="">
                    </div>
                </div>
                <p style="text-align: center; margin-top: 100px;" class="paragraph paragraph-dark">Cada país trata a regulamentação de maneira diferente, isso pode ser notado a seguir com os EUA e o Japão que possuem relações distintas com as criptomoedas.</p>
                <div id="eua-jap">
                    <div id="eua">
                        <h3>EUA</h3>
                        <p class="paragraph paragraph-dark">Trata as criptomoedas como bens na respectiva legislação, na qual consta todas as transações envolvendo as criptomoedas, porém cada ente federativo terá competência para emitir sua própria legislação, devido ao seu sistema federalista. </p>
                    </div>
                    <div id="jap">
                        <h3>JAPÃO</h3>
                        <p class="paragraph paragraph-dark">Trouxe uma lei bastante avançada, a qual reconhece as criptomoedas como moeda. Após o japão adotar uma nova legislação, o mesmo consta com a proteção de seus usuários a fim de impedir a lavagem de dinheiro, caracterizada como delito.</p>
                    </div>
                </div>
                <div class="reveal" id="dados-paises">
                    <h3>DE 257 PAÍSES:</h3>
                    <div class="dado-pais">
                        <div>51%</div>
                        <p class="paragraph paragraph-dark">Em 51% de 257 países, a criptomoeda é legalizada.</p>
                    </div>
                    <div class="dado-pais">
                        <div>3%</div>
                        <p class="paragraph paragraph-dark">Em 3% de 257 países, a criptomoeda é restrita.</p>
                    </div>
                    <div class="dado-pais">
                        <div>3%</div>
                        <p class="paragraph paragraph-dark">Em 3% de 257 países, a criptomoeda não é legalizada.</p>
                    </div>
                </div>
            </div>
            <div class="section reveal" id="perspectivas">
                <div class="subtitle-container">
                    <div class="line-titles-black"></div>
                    <h2 class="subtitle titleleft">PERSPECTIVA IDEALIZADA</h2>
                </div>
                <p class="paragraph paragraph-dark">As criptomoedas, como vimos anteriormente, são aplicadas, na realidade, das mais diversas maneiras e para os mais diversos fins. Contudo, caso houvesse a possibilidade de torna-las 100% legalizadas globalmente.. quais seriam os resultados?</p>
                <label for="">Clique no botão para ver o outro lado da criptomoeda!</label>
                <a href="./perspectiva.html"><button id="btn-outrolado">PERSPECTIVA LEGALIZADA</button></a>
            </div>
        </section>
        <div id="shadow"></div>
        <section class="reveal section" id="team">
            <div id="title-team">
                <div></div>
                <h2>AUTORES DESTE PROJETO</h2>
                <div></div>
            </div>
            <div id="team-profiles">
                <a style="text-decoration: none;" target="_blank" href="https://www.linkedin.com/in/kauan-toldo-280025266/">
                    <div id="kauan" class="profile">
                        <div class="desc-profile">
                            <span class="name">KAUAN LUCAS TOLDO</span>
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </div>
                </a>
                <div id="maria" class="profile">
                    <div class="desc-profile">
                        <span class="name">MARIA ISABEL</span>
                    </div>
                </div>
                <div id="ana" class="profile">
                    <div class="desc-profile">
                        <span class="name">ANA KELLY</span>
                    </div>
                </div>
                <a style="text-decoration: none;" target="_blank" href="https://www.linkedin.com/in/andr%C3%A9rigo">
                    <div id="andre" class="profile">
                        <div class="desc-profile">
                            <span class="name">ANDRÉ LUIZ RIGO</span>
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </div>
                </a>
                <div id="davi" class="profile">
                    <div class="desc-profile">
                        <span class="name">DAVI LUCAS</span>
                    </div>
                </div>
                <div id="matteo" class="profile">
                    <div class="desc-profile">
                        <span class="name">MATTEO THOMÉ</span>
                    </div>
                </div>
                <div id="lerner" class="profile">
                    <div class="desc-profile">
                        <span class="name">JOÃO PEDRO LERNER</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <img src="../static/img/ifc-logo.png" alt="">
        <a href="./cadastro.html"><button id="btn-footer">RECEBA ATUALIZAÇÕES</button></a>
        <div id="line-end">
            <div></div>
            <h2>CriptoON</h2>
        </div>
    </footer>
</body>
</html>