/* ---------------------------------------------- STYLE CONFIGS ------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Teko:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Black: #000000;
    --White: #F5F4F4;
    --Gray: #141414;
    --Orange: #CE5F20;
    --Yellow: #EED44C;
    --Gold: #DAA520;
}

body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

/* --------------------------------------------------- HEADER -------------------------------------------------------- */

header {
    width: 100%;
    position: absolute;
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    height: 100px;
    background-color: #f5f4f4aa;
}

header #navbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header #navbar {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

header .btn-navbar-mobile {
    position: absolute;
    right: 50px;
    display: none;
    font-size: 2em;
}

#navbar h3 {
    font-weight: 500;
}

#navbar svg {
    transform: rotateX(-180deg);
}

#title-header {
    color: var(--Gold);
    font-family: 'Teko', sans-serif;
    font-weight: normal;
}

#btn-newslerner {
    border: none;
    background-color: var(--Gold);
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}

/* ----------------------------------------------- HOME SECTION ----------------------------------------------------- */

#home {
    height: 100vh;
    width: 100%;
    background-image: url(../src/background-home.png);
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    display: flex;
    align-items: center;
}

#title-home {
    font-size: 80px;
    font-family: 'Teko', sans-serif;
    font-weight: lighter;
    line-height: 80px;
    letter-spacing: 3px;
    margin-left: 8vh
}

#title-home span {
    font-size: 100px;
    font-weight: 400;
    color: var(--Gold);
}

#divisor-home {
    margin-top: -90px;
    width: 100%;
}

#title-container {
    display: flex;
    align-items: center;
    margin-left: 15vh;
}

#line-title {
    width: 4px;
    height: 250px;
    background-color: var(--Gold);
}

#title-home {
	animation: slide-title 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.arrow-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    opacity: .8;
    animation: arrow-pulse .8s infinite alternate;
}

/* ----------------------------------------------- O QUE É? ---------------------------------------------------------- */

#criptomoeda-section {
    width: 100%;
    background: linear-gradient(180deg, #111 19.79%, #1B1A1A 100%);
    padding-bottom: 150px;
}

#shadow {
    height: 40px;
    width: 100%;
    background: linear-gradient(180deg, #1E1E1E 0%, transparent 100%);
}

#uq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--White);
    gap: 200px;
}

#uq img {
    border-radius: 50%;
}


#uq .conteudo {
    text-align: right; 

}

#uq .conteudo div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 28px;
}

.subtitle {
    color: var(--Orange);
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-weight: normal;
    line-height: 50px;
    letter-spacing: 4px;
}

.line-titles-black {
    background-color: var(--White);
    width: 4px;
    height: 120px;
}

.line-titles-white {
    background-color: var(--Gray);
    width: 4px;
    height: 120px;
}

.titleright {
    animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    text-align: right;
}

.paragraph {
    font-family: 'Rajdhani', sans-serif;
    margin-top: 50px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.paragraph-dark {
    color: var(--White);
}

.section {
    padding: 0px 100px;
    padding-bottom: 150px;
}

/* ------------------------------------------------- TIPOS ---------------------------------------------------------- */

#tipos {
    color: var(--White);
    display: flex;
    flex-direction: column;
    gap: 130px;
}

.subtitle-container {
    display: flex;
    gap: 28px;
    align-items: center;
}

.titleleft {
    animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#tipos .paragraph {
    text-align: justify;
}

li {
    list-style: none;
}

#tipos-display {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-evenly;
}

#info-tipos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 450px;
}

#tipos li {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--Orange);
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 24px;
}

#tipos li span {
    font-weight: bold;
}

#mudanca-value {
    color: red;
}

#carrousel-tipos {
    display: flex;
    align-items: center;
    justify-content: center;
}

#icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#icons img {
    width: 250px;
    height: 250px;
}

#icons h6 {
    font-size: 30px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}

#line-carroussel {
    display: flex;
    gap: 30px;
    align-items: center;
}

#line-carroussel .line-icon-tipos {
    background-color: rgba(167, 148, 148, 0.13);
    padding: 20px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 2px solid rgba(255, 255, 255, 0.40);
    cursor: pointer;
}

#line-carroussel .line-icon-tipos:first-child {
    opacity: 0.6;
}

#indicators div {
    width: 50px;
    height: 5px;
    border-radius: 10px;
    background-color: var(--Orange);
    opacity: 0.6;
}

#indicators div:first-child {
    opacity: 1;
}

#indicators {
    display: flex;
    gap: 10px;
}

/* ------------------------------------------------- CONVERSOR ------------------------------------------------------ */

#conversor {
    min-height: 100vh;
    background-image: url(../src/conversor-background.png);
    background-size: cover;
    width: 100%;
    mix-blend-mode: exclusion;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
}

#conversor label {
    color: #FFF;
    font-family: Rajdhani;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#conversor h1 {
    color: var(--Orange);
    font-family: Teko;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 7.2px;
    margin-bottom: 50px;
}

#board {
    min-height: 600px;
    width: 65%;
    border-radius: 30px;
    background: rgba(15, 15, 15, 0.37);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}

#inputs {
    display: flex;
    width: 85%;
    justify-content: space-evenly;
    align-items: center;
}

select, option {
    padding: 5px 10px;
    border-radius: 50px;
    border: 2px solid #F7931A;
    background: rgba(217, 217, 217, 0.00);
    color: white;
}

option {
    background-color: black;
}

#inputs div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--White);
    font-family: Rajdhani;
    margin: 10px;
}

#inputs svg {
    cursor: pointer;
}

select {
    font-size: 20px;
    width: 300px;
    margin-top: 20px;
    cursor: pointer;
}

button {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
    background: orange;
    border: none;
    color: #FFF;
    font-family: Rajdhani;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px 50px;
    cursor: pointer;
    transition: .2s ease-in;
}

button:hover {
    background: rgb(223, 145, 0);
    transform: translateY(-2px);
}

#resultado {
    width: 80%;
    text-align: center;
    border-radius: 30px;
    border: 2px solid var(--Orange);
    font-family: Rajdhani;
    font-weight: 500;
    color: var(--White);
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: default;
}

/* ------------------------------------------------------- CARACTERISTICAS ------------------------------------------------------------------- */

#caracteristicas {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#caracteristicas .subtitle-container {
    flex-direction: row-reverse;
    text-align: right;
}

#caracteristicas .paragraph {
    text-align: justify;
}

#caracteristicas .subtitle span {
    color: var(--White);
}

#cards {
    max-width: 850px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 50px 150px;
    margin-top: 200px;
    position: relative;
}

.card {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.94);
    height: 225px;
    color: var(--Black);
    border-radius: 7px;
    padding: 20px 30px;
    transition: .3s ease-in-out;
    cursor: default;
    z-index: 2;
}

.card h5 {
    text-align: center;
    color: #000;
    font-family: Teko;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card p {
    color: #0D0D0D;
    text-align: justify;
    font-family: Rajdhani;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-top: 15px;
}

.card:hover {
    background: #EED44C;
    box-shadow: 0px 0px 36px 10px rgba(255, 245, 0, 0.38);
    scale: 1.05;
}

#background-cards {
    border: 1px solid white;
    position: absolute;
    width: 500px;
    height: 130%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#background-cards img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

/* --------------------------------------------------------- ORIGEM SECTION ------------------------------------------------------------------ */

#origem-section {
    min-height: 100vh;
    background-image: url(../src/background-home.png);
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

#valorizacao .paragraph, #valorizacao span {
    margin: 0px 40px;
    text-align: justify;
}

#valorizacao .paragraph {
    margin-top: 20px;
}

#valorizacao span {
    color: var(--Orange);
    font-family: Teko;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
}

#ref-origem {
    max-width: 70%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#ref-origem img {
    width: 50px;
    height: 50px;
}

#aspas-right {
    margin-top: -50px;
    align-self: flex-end;
}

/* --------------------------------------------------------- MOEDAS EVOLUÇÃO ----------------------------------------------------------------- */

#icons-moedas div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#icons-moedas img {
    width: 250px;
    height: 250px;
}

#icons-moedas h6 {
    font-size: 30px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}

#moedas-historia {
    display: flex;
    align-items: center;
    gap: 150px;
    justify-content: space-around;
    margin-top: 100px;
}

#moedas-historia .paragraph {
    text-align: justify;
}

#moedas-historia h3 {
    color: var(--Orange);
    font-family: Teko;
    font-size: 30px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#line-carroussel .line-icon-moedas {
    background-color: rgb(231, 231, 231);
    padding: 20px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    cursor: pointer;
}

#line-carroussel .line-icon-moedas:first-child {
    opacity: 0.6;
}

#icons-moedas img {
    width: 427px;
    height: 460px;
}

#icons-moedas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------------------------------------------------- MINERAÇÃO ----------------------------------------------------- */

#mineracao .subtitle-container {
    flex-direction: row-reverse;
}

#info-mineracao {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    text-align: right;
    align-items: center;
}

/* -------------------------------------------------------- CRIAÇÃO VIDEO --------------------------------------------- */

#video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
}

#video-section h2 {
    color: var(--Black);
    font-family: Teko;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 8.1px;
}

#video-section span {
    color: #CE5F20;
}

#video-section div {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    background-color: gray;
}

#video-section img {
    cursor: pointer;
}

/* ---------------------------------------------------------- MEDIA QUERIES ------------------------------------------------------------------ */

@media screen and (max-width: 949px) {
    #background-cards {
        width: 1px !important;
        height: 100%;
        top: 40%;
    }

    #cards {
        margin-top: 300px;
    }
}

@media screen and (max-width: 1330px) {

    #info-mineracao {
        flex-direction: column-reverse;
        gap: 50px;
    }

    #mineracao {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #info-mineracao img {
        max-width: 60%;
    }

    #board {
        width: 90%;
    }

    #ref-origem {
        max-width: 100%;
    }

    .section {
        padding: 0px 50px !important;
    }

    #inputs {
        flex-direction: column;
        gap: 20px;
    }

    #inputs svg {
        transform: rotate(-90deg);
    }

    #uq {
        flex-direction: column-reverse;
        gap: 25px;
    }

    #uq img {
        width: 50%;
    }

    #tipos-display {
        flex-direction: column;
    }

    #indicators div {
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    #line-carroussel svg {
        width: 50px;
        height: 50px;
        padding: 10px;
    }

    #tipos {
        gap: 50px;
    }

    #info-tipos {
        width: 95%;
    }

    .paragraph {
        text-align: justify;
    }

    #icons img {
        width: 200px;
    }

    #moedas-historia {
        flex-direction: column;
        gap: 80px;
    }

    #moedas-historia #line-carroussel {
        justify-content: center;
    }
}

@media screen and (max-width: 760px) {

    #video-section h2 {
        font-size: 26px;
        letter-spacing: 4px;
    }

    #title-home span {
        font-size: 50px;
    }

    #inputs select {
        width: 250px;
    }

    #uq img {
        width: 90%;
    }

    #line-title {
        display: none;
    }

    #home {
        justify-content: center;
    }

    #btn-newslerner {
        display: none !important;
    }

    header .btn-navbar-mobile {
        display: block !important;
    }

    #navbar {
        display: none !important;
    }

    #title-home {
        font-size: 60px;
        line-height: 50px;
        margin-left: 0 !important;
        animation: slide-in-down 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
    }

    #title-container {
        margin-left: 0 !important;
        text-align: center;
    }

    .subtitle {
        font-size: 35px !important;
    }

    #caracteristicas .subtitle span {
        font-size: 22px !important;
        letter-spacing: 4px !important;
    }

    .paragraph {
        font-size: 20px;
    }
}

/* ----------------------------------------------- KEYFRAMES ------------------------------------------------------- */

@keyframes arrow-pulse {
    0% {
        bottom: 50px;
    }
    100% {
        bottom: 60px;
    }
}

@keyframes slide-title {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }

@keyframes slide-in-left {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }

@keyframes slide-in-down {
    0% {  
        transform: translateY(200px);
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    }

@keyframes slide-in-right {
    0% {  
        transform: translateX(200px);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}