/* ---------------------------------------------- STYLE CONFIGS ------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Teko:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Black: #000000;
    --White: #F5F4F4;
    --Gray: #141414;
    --Orange: #CE5F20;
    --Yellow: #EED44C;
    --Gold: #DAA520;
}

body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

html, body {
    scroll-behavior: smooth;
}

/* -------------------------------------------------- NAVBAR ABERTA --------------------------------------- */

.fechada {
    display: none !important;
}

.aberta {
    display: flex;
}

#navbar-aberta {
    position: absolute;
    top: 100%;
    padding: 25px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f5f4f4aa;
    left: 50%;
    transform: translateX(-50%);
}

.links {
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: Rajdhani;
    font-weight: 500;
}

/* --------------------------------------------------- HEADER -------------------------------------------------------- */

header {
    width: 100%;
    position: fixed;
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    height: 100px;
    background-color: #f5f4f4aa;
    z-index: 3;
    transition: background-color .2s;
}

header #navbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header #navbar {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

header .btn-navbar-mobile {
    position: absolute;
    right: 50px;
    display: none;
    font-size: 2em;
}

header div {
    display: flex;
    align-items: center;
    gap: 20px;
}

header div img {
    width: 50px;
}

#navbar h3 {
    font-weight: 500;
}

#navbar svg {
    transform: rotateX(-180deg);
}

#title-header {
    color: var(--Gold);
    font-family: 'Teko', sans-serif;
    font-weight: normal;
}

#btn-newslerner {
    border: none;
    background-color: var(--Gold);
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}

/* ----------------------------------------------- HOME SECTION ----------------------------------------------------- */

#home {
    height: 100vh;
    width: 100%;
    background-image: url(../src/background-home.png);
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    display: flex;
    align-items: center;
}

#title-home {
    font-size: 80px;
    font-family: 'Teko', sans-serif;
    font-weight: lighter;
    line-height: 80px;
    letter-spacing: 3px;
    margin-left: 8vh
}

#title-home span {
    font-size: 100px;
    font-weight: 400;
    color: var(--Gold);
}

#divisor-home {
    margin-top: -90px;
    width: 100%;
}

#title-container {
    display: flex;
    align-items: center;
    margin-left: 15vh;
}

#line-title {
    width: 4px;
    height: 250px;
    background-color: var(--Gold);
}

#title-home {
	animation: slide-title 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.arrow-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    opacity: .8;
    animation: arrow-pulse .8s infinite alternate;
    color: black;
}

/* ----------------------------------------------- O QUE É? ---------------------------------------------------------- */

#criptomoeda-section {
    width: 100%;
    background: linear-gradient(180deg, #111 19.79%, #1B1A1A 100%);
    padding-bottom: 150px;
}

#shadow {
    height: 40px;
    width: 100%;
    background: linear-gradient(180deg, #1E1E1E 0%, transparent 100%);
}

#shadow-down {
    height: 40px;
    width: 100%;
    background: linear-gradient(-180deg, transparent 0%, #1e1e1e 100%);
}

#uq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--White);
    gap: 200px;
}

#uq img {
    border-radius: 50%;
}


#uq .conteudo {
    text-align: right; 

}

#uq .conteudo div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 28px;
}

.subtitle {
    color: var(--Orange);
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-weight: normal;
    line-height: 50px;
    letter-spacing: 4px;
}

.line-titles-black {
    background-color: var(--White);
    width: 4px;
    height: 120px;
}

.line-titles-white {
    background-color: var(--Gray);
    width: 4px;
    height: 120px;
}

.titleright {
    animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    text-align: right;
}

.paragraph {
    font-family: 'Rajdhani', sans-serif;
    margin-top: 50px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.paragraph-dark {
    color: var(--White);
}

.section {
    padding: 0px 100px;
    padding-bottom: 100px;
}

/* ------------------------------------------------- TIPOS ---------------------------------------------------------- */

#tipos {
    color: var(--White);
    display: flex;
    flex-direction: column;
    gap: 130px;
}

.subtitle-container {
    display: flex;
    gap: 28px;
    align-items: center;
}

.titleleft {
    animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#tipos .paragraph {
    text-align: justify;
}

li {
    list-style: none;
}

#tipos-display {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-evenly;
}

#info-tipos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 450px;
}

#tipos li {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--Orange);
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 24px;
}

#tipos li span {
    font-weight: bold;
}

#mudanca-value {
    color: red;
}

#carrousel-tipos {
    display: flex;
    align-items: center;
    justify-content: center;
}

#icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#icons img {
    width: 250px;
    height: 250px;
}

#icons h6 {
    font-size: 30px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}

#line-carroussel {
    display: flex;
    gap: 30px;
    align-items: center;
}

#line-carroussel .line-icon-tipos {
    background-color: rgba(167, 148, 148, 0.13);
    padding: 20px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 2px solid rgba(255, 255, 255, 0.40);
    cursor: pointer;
}

#line-carroussel .line-icon-tipos:first-child {
    opacity: 0.6;
}

#indicators div {
    width: 50px;
    height: 5px;
    border-radius: 10px;
    background-color: var(--Orange);
    opacity: 0.6;
}

#indicators div:first-child {
    opacity: 1;
}

#indicators {
    display: flex;
    gap: 10px;
}

/* ------------------------------------------------- CONVERSOR ------------------------------------------------------ */

#conversor {
    min-height: 100vh;
    background-image: url(../src/conversor-background.png);
    background-size: cover;
    width: 100%;
    mix-blend-mode: exclusion;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
}

#conversor label {
    color: #FFF;
    font-family: Rajdhani;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#conversor h1 {
    color: var(--Orange);
    font-family: Teko;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 7.2px;
    margin-bottom: 50px;
}

#board {
    min-height: 600px;
    width: 65%;
    border-radius: 30px;
    background: rgba(15, 15, 15, 0.37);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}

#inputs {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#currency {
    width: 352px;
}

#cripto-amount {
    display: flex !important;
    flex-direction: row !important;
}

select, option {
    padding: 5px 10px;
    border-radius: 50px;
    border: 2px solid #F7931A;
    background: rgba(217, 217, 217, 0.00);
    color: white;
}

#coin {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#amount {
    width: 50px;
    margin-top: 20px;
    padding: 8.5px 10px;
    font-size: 15px;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: 2px solid #F7931A;
    background: rgba(217, 217, 217, 0.00);
    color: white;
    font-weight: bold;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

option {
    background-color: black;
}

#inputs div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--White);
    font-family: Rajdhani;
    margin: 10px;
}

#inputs svg {
    cursor: pointer;
}

select {
    font-size: 20px;
    width: 300px;
    margin-top: 20px;
    cursor: pointer;
}

#btn-newslerner,  #convert, #btn-footer{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
    background: orange;
    border: none;
    color: #FFF;
    font-family: Rajdhani;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px 50px;
    cursor: pointer;
    transition: .2s ease-in;
}

button:hover {
    background: rgb(223, 145, 0);
    transform: translateY(-2px);
}

#resultado {
    width: 80%;
    text-align: center;
    border-radius: 30px;
    border: 2px solid var(--Orange);
    font-family: Rajdhani;
    font-weight: 500;
    color: var(--White);
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: default;
}

/* ------------------------------------------------------- CARACTERISTICAS ------------------------------------------------------------------- */

#caracteristicas {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#caracteristicas .subtitle-container {
    flex-direction: row-reverse;
    text-align: right;
}

#caracteristicas .paragraph {
    text-align: justify;
}

#caracteristicas .subtitle span {
    color: var(--White);
}

#cards {
    max-width: 850px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 50px 150px;
    margin-top: 200px;
    position: relative;
}

.card {
    width: 350px;
    background-color: rgba(255, 255, 255, 1);
    height: 225px;
    color: var(--Black);
    border-radius: 7px;
    padding: 20px 30px;
    transition: .3s ease-in-out;
    cursor: default;
    z-index: 2;
}

/* ideia do heitor de fazer animação ao redor dos card */

.card h5 {
    text-align: center;
    color: #000;
    font-family: Teko;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card p {
    color: #0D0D0D;
    text-align: justify;
    font-family: Rajdhani;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-top: 15px;
}

.card:hover {
    background: #EED44C;
    box-shadow: 0px 0px 36px 10px rgba(255, 245, 0, 0.38);
    scale: 1.05;
}

#background-cards {
    border: 1px solid white;
    position: absolute;
    width: 500px;
    height: 130%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#background-cards img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

/* --------------------------------------------------------- ORIGEM SECTION ------------------------------------------------------------------ */

#origem-section {
    min-height: 100vh;
    background-image: url(../src/background-home.png);
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

#valorizacao .paragraph, #valorizacao span {
    text-align: justify;
}

#valorizacao .paragraph {
    margin-top: 20px;
}

#valorizacao span {
    color: var(--Orange);
    font-family: Teko;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
}

#ref-origem {
    max-width: 70%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#ref-origem img {
    width: 50px;
    height: 50px;
}

#aspas-right {
    margin-top: -50px;
    align-self: flex-end;
}

/* --------------------------------------------------------- MOEDAS EVOLUÇÃO ----------------------------------------------------------------- */

#icons-moedas div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#icons-moedas h6 {
    font-size: 30px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}

#moedas-historia {
    display: flex;
    align-items: center;
    gap: 150px;
    justify-content: space-around;
    margin-top: 100px;
}

#moedas-historia .paragraph {
    text-align: justify;
}

#moedas-historia h3 {
    color: var(--Orange);
    font-family: Teko;
    font-size: 30px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#line-carroussel .line-icon-moedas {
    background-color: rgb(231, 231, 231);
    padding: 20px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    cursor: pointer;
}

#line-carroussel .line-icon-moedas:first-child {
    opacity: 0.6;
}

#icons-moedas img {
    width: 100%;
    height: 500px;
}

#icons-moedas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------------------------------------------------- MINERAÇÃO ----------------------------------------------------- */

#mineracao .subtitle-container {
    flex-direction: row-reverse;
}

#info-mineracao {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    text-align: right;
    align-items: center;
}

/* -------------------------------------------------------- CRIAÇÃO VIDEO --------------------------------------------- */

#video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
}

#video-section h2 {
    color: var(--Black);
    font-family: Teko;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 8.1px;
}

#video-section span {
    color: #CE5F20;
}

/* ---------------------------------------------------------- MEDIA QUERIES ------------------------------------------------------------------ */

@media screen and (max-width: 949px) {
    #background-cards {
        width: 1px !important;
        height: 100%;
        top: 40%;
    }

    #cards {
        margin-top: 300px;
    }

    .item-bc {
        flex-direction: column;
        text-align: center;
    }

    .recurso-card {
        width: 100% !important;
    }

    #recursos-cards {
        display: flex;
        gap: 100px !important;
        justify-content: center !important;
    }

    #meio-recursos {
        align-items: center !important;
    }
}

@media screen and (max-width: 1330px) {

    #blockchain-section {
        margin-top: 50px;
    }

    .numbers {
        font-size: 50px !important;
    }

    #line-reg div h6 {
        font-size: 16px !important;
    }

    #info-reg {
        flex-direction: column;
        gap: 50px !important;
        margin-bottom: 50px;
    }

    #aplicacao-section {
        padding-top: 50px;
    }

    #info-reg img {
        width: 70% !important;
    }

    #blockchain-section .paragraph {
        max-width: 100% !important;
    }

    .item-bc:first-child, .item-bc:nth-child(3) {
        align-self: center !important;
    }

    .item-bc {
        max-width: 80% !important;
    }

    #itens-blockchain {
        padding: 0px 0px !important;
    }

    #info-mineracao {
        flex-direction: column-reverse;
        gap: 50px;
    }

    #mineracao {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #info-mineracao img {
        max-width: 80%;
    }

    #board {
        width: 90%;
    }

    #ref-origem {
        max-width: 100%;
    }

    .section {
        padding: 0px 50px !important;
    }

    #inputs {
        flex-direction: column;
        gap: 20px;
    }

    #inputs svg {
        transform: rotate(-90deg);
    }

    #uq {
        flex-direction: column-reverse;
        gap: 25px;
    }

    #uq img {
        width: 50%;
    }

    #tipos-display {
        flex-direction: column;
    }

    #indicators div {
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    #line-carroussel svg {
        width: 50px;
        height: 50px;
        padding: 10px;
    }

    #tipos {
        gap: 50px;
    }

    #info-tipos {
        width: 95%;
    }

    .paragraph {
        text-align: justify;
    }

    #icons img {
        width: 200px;
    }

    #moedas-historia {
        flex-direction: column;
        gap: 80px;
    }

    #moedas-historia #line-carroussel {
        justify-content: center;
    }
}

@media screen and (max-width: 760px) {

    #recursos p:nth-child(2) {
        font-size: 18px !important;
    }

    .item-cf:nth-child(2) {
        margin-top: 0px !important;
    }

    .item-cf {
        border-bottom: 2px solid var(--Gray);
        padding-bottom: 50px;
    }

    .item-cf:last-child {
        border-bottom: none;
    }

    #itens-cf {
        gap: 50px;
        margin-top: 30px;
    }

    #video-section h2 {
        font-size: 26px;
        letter-spacing: 4px;
    }

    .card {
        width: 100% !important;
    }

    #icons-moedas img {
        height: 350px !important;
    }

    .item-bc p {
        font-size: 20px !important;
    }

    .item-bc h3 {
        font-size: 26px !important;
    }

    #video-section iframe {
        width: 100% !important;
        height: 175px;
    }

    #title-home span {
        font-size: 50px;
    }

    #inputs select {
        width: 250px;
    }

    #uq img {
        width: 90%;
    }

    #line-title {
        display: none;
    }

    #home {
        justify-content: center;
    }

    #btn-newslerner {
        display: none !important;
    }

    header .btn-navbar-mobile {
        display: block !important;
    }

    #navbar {
        display: none !important;
    }

    #title-home {
        font-size: 60px;
        line-height: 50px;
        margin-left: 0 !important;
        animation: slide-in-down 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
    }

    #title-container {
        margin-left: 0 !important;
        text-align: center;
    }

    .subtitle {
        font-size: 35px !important;
    }

    #caracteristicas .subtitle span {
        font-size: 22px !important;
        letter-spacing: 4px !important;
    }

    .paragraph {
        font-size: 20px;
    }
}

/* NAVBAR MOBILE */

#sidebar-aberta-container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    position: fixed;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: var(--Gray);
    z-index: 5;
}

#sidebar-aberta-container a {
    text-decoration: none;
    color: var(--White);
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Rajdhani', sans-serif;
}

#btn-newslerner-sidebar {
    border: none;
    background-color: var(--Gold);
    color: white;
    padding: 8px 40px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
}

#btn-close-sidebar {
    color: var(--Gold);
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 50px;
}

/* --------------------------------------------------- BLOCKCHAIN -------------------------------------------------- */

#blockchain-section .paragraph {
    max-width: 45%;
    text-align: justify;
}

#blockchain {
    width: 100%;
}

#itens-blockchain {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 75px;
    padding: 0px 150px;
    margin-top: 50px;
}

.item-bc img {
    background-color: radial-gradient(50% 50.00% at 50% 50.00%, #D9D9D9 46.88%, rgba(217, 217, 217, 0.00) 100%);
}

.item-bc {
    display: flex;
    max-width: 600px;
    gap: 30px;
    align-items: center;
}

.item-bc h3 {
    color: #CE5F20;
    font-family: Teko;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.item-bc p {
    color: #000;
    text-align: justify;
    font-family: Rajdhani;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
}

.item-bc:first-child {
    align-self: flex-end;
}

.item-bc:nth-child(2) {
    align-self: center;
}

/* ----------------------------------------------- RECURSOS ------------------------------------------------------------------- */

#recursos {
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recursos .subtitle {
    text-align: center;
}

#recursos p:nth-child(2) {
    color: #000;
    text-align: center;
    font-family: Rajdhani;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 49px;
}

#recursos-cards {
    display: flex;
    align-items: center;
    margin-top: 150px;
    gap: 50px;
    flex-wrap: wrap;
}

#meio-recursos {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.recurso-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: #E8E3E3;
    border-radius: 10px;
    padding: 30px 40px;
    transition: .2s ease-in-out;
}

.recurso-card:hover {
    background: #EED44C;
    box-shadow: 0px 0px 36px 10px rgba(255, 245, 0, 0.38);
    scale: 1.05;
}

.recurso-card div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recurso-card h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #000;
    font-family: Teko;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.recurso-card div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-top: -100px;
    justify-self: start;
    border-radius: 50%;
    background-color: #B02A00;
}

.recurso-card p {
    color: #0D0D0D;
    text-align: justify;
    font-family: Rajdhani;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: 31px;
}

.recurso-card h3:first-child {
    margin-top: 0;
    color: #FFE248;
}

.recurso-card:nth-child(2) {
    background-color: #464646;
}

.recurso-card:nth-child(2) p {
    color: white;
}

/* ----------------------------------------------------- COMO FUNCIONA ---------------------------------------------- */

#como-funciona .subtitle {
    text-align: center;
}

#como-funciona {
    margin-top: 150px;
}

#itens-cf {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-cf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
}

.item-cf h3 {
    color: #CE5F20;
    font-family: Teko;
    font-size: 86px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.item-cf p {
    color: #000;
    text-align: center;
    font-family: Rajdhani;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 49px;
    margin-bottom: 30px;
}

.item-cf:nth-child(2) {
    margin-top: 200px;
}

/* ---------------------------------------------- REGULAMENTAÇÃO --------------------------------------------------- */

#aplicacao-section {
    background: linear-gradient(180deg, #111 19.79%, #1B1A1A 100%);
    min-height: 100vh;
}

#regulamentacao {
    /* padding-top: 100px; */
}

#regulamentacao .subtitle-container {
    flex-direction: row-reverse;
    text-align: right;
}

#info-reg {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

#info-reg div {
    max-width: 700px;
}

#info-reg h3 {
    color: #CE5F20;
    font-family: Teko;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: normal;
}

#info-reg img {
    width: 35%;
}

#info-reg .paragraph {
    text-align: justify;
}

/* ---------------------------------------------- LINE REGULAMENTAÇÃO ---------------------------------------------- */

#line-reg {
    width: 100vw;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px ;
}

#line-reg div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100px;
}

#line-reg div h3 {
    color: #F7931A;
    font-family: Rajdhani;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#line-reg div h6 {
    color: #FFF;
    font-family: Rajdhani;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* ------------------------------------------------- PAISES -------------------------------------------------------- */

#first-paises {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 150px;
}

#first-paises p {
    font-size: 27px;
    max-width: 700px;
    text-align: justify;
}

#flags {
    display: grid;
    grid-template-columns: repeat(3, 201px);
    grid-template-rows: repeat(2, 134px);
}

.flag:hover {
    scale: 1.2;
}

.flag {
    transition: .2s ease-in;
}

#eua-jap {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

#eua-jap img {
    width: 100px;
}

#eua-jap h3 {
    color: #FBFF16;
    font-family: Rajdhani;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

#eua, #jap {
    max-width: 500px;
    text-align: justify;
}

#dados-paises {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dados-paises h3 {
    color: #DAA520;
    font-family: Teko;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
}

.dado-pais {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.dado-pais p {
    font-size: 27px;
}

.dado-pais div {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFF;
    color: #DAA520;
    font-family: Rajdhani;
    font-size: 110px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.dado-pais:nth-child(3) {
    flex-direction: row-reverse;
}

/* ------------------------------------------------ LEGALIZACAO ------------------------------------------------------ */

#perspectivas {
    min-height: 100vh;
    width: 100vw;
    background: url(../src/background-legalizacao.png), lightgray 50%;
    background-size: cover;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}

#perspectivas p {
    max-width: 600px;
}

#perspectivas label {
    margin-top: 50px;
    font-size: 27px;
    font-family: Rajdhani;
    color: var(--Gold);
    font-weight: bold;
}

#perspectivas button {
    width: 400px;
}

/* -------------------------------------------------- TIME --------------------------------------------------------- */

#team {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#title-team {
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#title-team div {
    height: 2px;
    width: 25%;
    background-color: var(--Gray);
}

#title-team h2 {
    color: #F7931A;
    text-align: center;
    font-family: Teko;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 8.1px;
    text-transform: uppercase;
}

#team-profiles {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.profile {
    width: 250px;
    height: 350px;
    background-color: #797979;
    background-size: cover;
}

#kauan {
    background-image: url(../src/kauan.png);
}

#maria {
    background-image: url(../src/maria.png);
}

#ana {
    background-image: url(../src/ana.png);
}

#andre {
    background-image: url(../src/andre.png);
}

#lerner {
    background-image: url(../src/lerner.png);
}

#matteo {
    background-image: url(../src/matteo.jpeg);
}

#davi {
    background-image: url(../src/davi.jpeg);
}

/* ------------------------------------------------- ANIMAÇÃO SEÇÕES -------------------------------------------------- */

.reveal{
    position: relative;
    top: 150px;
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
top: 0;
opacity: 1;
}

/* ------------------------------------------------ FOOTER --------------------------------------------------------- */

footer {
    background-image: url(../src/background-footer.png);
    background-size: cover;
    justify-content: end;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;
}

footer img {
    width: 100px;
}

footer button {
    margin: 25px 0px;
}

#line-end {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: end;
    margin-bottom: 25px;
}

#line-end div {
    height: 1px;
    background-color: var(--Gold);
    width: 95%;
}

#line-end h2 {
    color: #FFF;
    font-family: Rajdhani;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

/* ----------------------------------------------- KEYFRAMES ------------------------------------------------------- */

@keyframes arrow-pulse {
    0% {
        bottom: 50px;
    }
    100% {
        bottom: 60px;
    }
}

@keyframes slide-title {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }

@keyframes slide-in-left {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }

@keyframes slide-in-down {
    0% {  
        transform: translateY(200px);
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    }

@keyframes slide-in-right {
    0% {  
        transform: translateX(200px);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}